<h1 class="text-center font-bold py-2 text-gray-700">Set your new password</h1>
<!-- Bind the form to the component recoveryForm -->
<form [formGroup]="recoveryForm"
      novalidate
      class="space-y-4"
      (ngSubmit)="recovery()">
  <div>
    <div class="relative">
      <!-- formControlName is used to bind the input to the form control newPassword -->
      <input formControlName="newPassword"
             placeholder="Enter new password"
             [type]="showPassword ? 'text' : 'password'"
             class="w-full rounded bg-gray-100 border-gray-300 border-2" />
      <button type="button"
              class="p-2 absolute right-2"
              (click)="showPassword = !showPassword">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <!-- If the newPassword control is touched and invalid, show the error messages -->
    @if (recoveryForm.controls.newPassword.touched && recoveryForm.controls.newPassword.invalid) {
    <div>
      @if(recoveryForm.controls.newPassword.hasError('required')){
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is mandatory
      </p>
      }
      @if(recoveryForm.controls.newPassword.hasError('minlength')){
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field should be greater than 8 characters
      </p>
      }
    </div>
    }
  </div>
  <div>
    <div class="relative">
      <!-- formControlName is used to bind the input to the form control confirmPassword -->
      <input formControlName="confirmPassword"
             placeholder="Confirm new password"
             type="password"
             class="w-full rounded bg-gray-100 border-gray-300 border-2" />
    </div>
    <!-- If the confirmPassword control is touched and invalid, show the error messages -->
    @if(recoveryForm.controls.confirmPassword.touched && recoveryForm.controls.confirmPassword.invalid){
    <div>
      @if(recoveryForm.controls.confirmPassword.hasError('required')){
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is mandatory
      </p>
      }
      @if(recoveryForm.controls.confirmPassword.hasError('minlength')){
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field should be greater than 8 characters
      </p>
      }
    </div>
    }
  </div>
  <!-- usage of a customValidator to check if the passwords match -->
  <!-- If the confirmPassword control is touched, show the error message if the passwords do not match -->
  @if(recoveryForm.controls.confirmPassword.touched){
  <div>
    @if(recoveryForm.hasError('mismatch')){
    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
      The password are not the same
    </p>
    }
    @if(status === 'failed'){
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        An error occurs trying to recovery your password
      </p>
      }
  </div>
  }
  <div>
    <app-btn typeBtn="submit"
             color="success"
             [loading]="status === 'loading'">
      Recovery
    </app-btn>
  </div>
</form>